<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizzapp">

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizzApp">
        <activity
            android:name=".guessword.ManHinhTinhDiem"
            android:exported="false" />
        <activity
            android:name=".CreditsActivity"
            android:exported="true"></activity>
        <activity
            android:name=".guessword.ManHinhChinh"
            android:exported="false" />
        <activity android:name=".doan_hinh.MainActivity_doan_hinh" />
        <activity android:name=".doan_hinh.ResultActivity_doan_hinh" />
        <activity android:name=".doan_hinh.MainActivity_start_doan_hinh" />
        <activity android:name=".MenuGameActivity" />
        <activity android:name=".quizzLDSection.Activities.AllLevelsActivity" />
        <activity android:name=".quizzLDSection.Activities.CategoryActivity" />
        <activity android:name=".quizzLDSection.Activities.ResultActivity" />
        <activity android:name=".quizzLDSection.Activities.QuizActivity" />
        <activity android:name=".quizzLDSection.Activities.HistoryLevelsActivity" />
        <activity
            android:name=".guessword.MainActivity2"
            android:exported="false" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>